USE [master]
GO
/****** Object:  Database [EC_IT440_DM]    Script Date: 3/16/2026 4:43:30 PM ******/
CREATE DATABASE [EC_IT440_DM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EC_IT440_DM', FILENAME = N'D:\sql server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EC_IT440_DM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EC_IT440_DM_log', FILENAME = N'D:\sql server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EC_IT440_DM_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EC_IT440_DM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EC_IT440_DM]
GO
/****** Object:  Schema [dm]    Script Date: 3/16/2026 4:43:30 PM ******/
CREATE SCHEMA [dm]
GO
/****** Object:  Table [dbo].[DateDim]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateDim](
	[date_id] [int] NOT NULL,
	[day_date] [date] NOT NULL,
	[day_number_in_week] [tinyint] NOT NULL,
	[day_number_in_month] [tinyint] NOT NULL,
	[day_number_in_year] [smallint] NOT NULL,
	[day_name] [varchar](10) NOT NULL,
	[day_abbreviation] [char](3) NOT NULL,
	[process_day_ind] [bit] NOT NULL,
	[week_number_in_year] [tinyint] NOT NULL,
	[week_start_date] [date] NOT NULL,
	[week_start_date_id] [int] NOT NULL,
	[week_end_date] [date] NOT NULL,
	[week_end_date_id] [int] NULL,
	[weekday_flag] [varchar](10) NULL,
	[weekend_flag] [varchar](10) NULL,
	[last_day_in_week_flag] [varchar](10) NULL,
	[month_number] [tinyint] NULL,
	[month_name] [varchar](10) NULL,
	[month_abbreviation] [char](3) NULL,
	[month_last_day_number] [tinyint] NULL,
	[month_start_date] [date] NULL,
	[month_start_date_id] [int] NULL,
	[month_end_date] [date] NULL,
	[month_end_date_id] [int] NULL,
	[month_end_date_previous] [date] NULL,
	[month_end_date_previous_id] [int] NULL,
	[last_day_in_month_flag] [varchar](10) NULL,
	[quarter_number] [tinyint] NULL,
	[quarter_name] [char](6) NULL,
	[quarter_code] [char](10) NULL,
	[quarter_start_date] [date] NULL,
	[quarter_start_date_id] [int] NULL,
	[quarter_end_date] [date] NULL,
	[quarter_end_date_id] [int] NULL,
	[last_day_in_quarter_flag] [bit] NULL,
	[year_number] [smallint] NULL,
	[year_start_date] [date] NULL,
	[year_start_date_id] [int] NULL,
	[year_end_date] [date] NULL,
	[year_end_date_id] [int] NULL,
	[yyyymm] [int] NULL,
	[last_day_in_year_flag] [bit] NULL,
	[holiday_ind] [bit] NULL,
	[holiday_name] [varchar](50) NULL,
 CONSTRAINT [PK_DateDim] PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nums]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nums](
	[n] [int] NOT NULL,
 CONSTRAINT [PK_Nums] PRIMARY KEY CLUSTERED 
(
	[n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dm].[DimTopic]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dm].[DimTopic](
	[TopicKey] [int] IDENTITY(1,1) NOT NULL,
	[TopicCode] [nvarchar](50) NOT NULL,
	[TopicName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dm].[Fact_SubmissionTopicResponse]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dm].[Fact_SubmissionTopicResponse](
	[SubmissionID] [int] NOT NULL,
	[TopicKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[rating] [smallint] NULL,
	[likert_1] [smallint] NULL,
	[likert_2] [smallint] NULL,
	[net_promoter] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_Nums]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Load_Nums] (@v_num as BIGINT)
AS

/*****************************************************************************************************************
NAME:    dbo.usp_Load_Nums
PURPOSE: Create and Load the dbo.Nums table

MODIFICATION LOG:
Ver      Date        Author        Description
-----   ----------   -----------   -------------------------------------------------------------------------------
1.0     06/13/2019   JJAUSSI       1. Built this table for LDS BC IT240
1.1     06/20/2019   JJAUSSI       1. Rebuilt table script as stored procedure



RUNTIME: 
Approx. 5 min for 1MM rows

NOTES:

Example usage - Load 10K rows...

EXEC dbo.usp_Load_Nums 10000;


dbo.Nums is an auxiliary numbers table

Example use cases...
- Parsing a string
- Finding identity gaps
- Generating other data sets

These links have more details...
https://dba.stackexchange.com/questions/11506/why-are-numbers-tables-invaluable
http://sqlblog.com/blogs/aaron_bertrand/archive/2009/10/07/bad-habits-to-kick-using-a-loop-to-populate-a-table.aspx


LICENSE: 
This code is covered by the GNU General Public License which guarantees end users
the freedom to run, study, share, and modify the code. This license grants the recipients
of the code the rights of the Free Software Definition. All derivative work can only be
distributed under the same license terms.
 
******************************************************************************************************************/

    BEGIN

        -- 1) Recreate the table

        -- 1.1) Drop the table

        IF OBJECT_ID('dbo.Nums', 'U') IS NOT NULL
            BEGIN
                DROP TABLE dbo.Nums;
        END;


        -- 1.2) Build the table

        CREATE TABLE dbo.Nums
        (n INT NOT NULL
       , CONSTRAINT PK_Nums PRIMARY KEY CLUSTERED(n ASC)
        )
        ON [PRIMARY];



        -- 2) Reload the table

        DECLARE @n INT;

        SET @n = 1;

        WHILE @n <= @v_num
            BEGIN
                INSERT INTO dbo.Nums(n)
                VALUES
                      (
                       @n
                      );
                SET @n = @n + 1;
            END;

    END;
GO
/****** Object:  StoredProcedure [dbo].[usp_LoadDateDim]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_LoadDateDim] (@v_num_years as INT)
AS
BEGIN
/*****************************************************************************************************************
NAME:    dbo.usp_LoadDateDim
PURPOSE: Load the Date Dimension table

SUPPORT: Jaussi Consulting LLC
         www.jaussiconsulting.net
         jon@jaussiconsulting.net

MODIFICATION LOG:
Ver       Date         Author       Description
-------   ----------   ----------   -----------------------------------------------------------------------------
1.0       11/17/2019   JJAUSSI      1. Built this starter script for LDS BC IT 243
1.1       3/2/2026     ABRUMFIELD   1. Improved section 2) Reload the base data.
1.2       3/2/2026     ABRUMFIELD   1. Improved section 3) Reload the default date record.

RUNTIME: 
~4 sec

NOTES: 
Load the Date Dimension - inspired by the Kimball Group's Calendar Date Dimension

Example usage - Load 250 years of dates...

EXEC dbo.usp_LoadDateDim 250;


LICENSE: 
This code is covered by the GNU General Public License which guarantees end users
the freedom to run, study, share, and modify the code. This license grants the recipients
of the code the rights of the Free Software Definition. All derivative work can only be
distributed under the same license terms.

******************************************************************************************************************/

-- Q1: Where to get the sample data from?
-- A1: Here it is...dump it to Excel > Date Dimension - sample v1.0.xlsx

--SELECT d.*
--  FROM RPT.dbo.datedim AS d
-- WHERE d.year_number = 2019
--       OR date_id IN
--                    (
--                     18500101
--                   , 99991231
--                    );



-- Q2: What are the first and last dates in the Date Dimension?
-- A2: Here they are > 99991231 is the go to default date > 250 years total

--SELECT MIN(d.date_id)
--     , MAX(d.date_id)
--  FROM RPT.dbo.datedim AS d;

--SELECT COUNT(1)
--  FROM RPT.dbo.DateDim AS dd;
---- 91,677 = 250 years + 1 day

--SELECT TOP 2 *
--  FROM RPT.dbo.DateDim AS dd
-- ORDER BY dd.date_id DESC;

-- 18500101 -- First day
-- 21001231 -- Last day
-- 99991231 -- Default day

--SELECT d.*
--  FROM RPT.dbo.datedim AS d
-- WHERE d.day_date = format((@v_first_date + n.n), 'yyyy-MM-dd');



-- Q3: How to load the Date Dimension
-- A3: Use dbo.Nums and figure it out



-- 1) Set the oldest date value

DECLARE @v_first_date as datetime

SET @v_first_date = '1849-12-31'



-- 2) Reload the base data

TRUNCATE TABLE dbo.DateDim;

INSERT INTO dbo.DateDim
SELECT CONVERT(VARCHAR, (@v_first_date + n.n), 112) AS date_id
     , FORMAT((@v_first_date + n.n), 'yyyy-MM-dd') AS day_date
     , DATEPART(WEEKDAY, (@v_first_date + n.n)) AS day_number_in_week
     , DAY((@v_first_date + n.n)) AS day_number_in_month
     , DATEPART(dayofyear, (@v_first_date + n.n)) AS day_number_in_year
     , DATENAME(WEEKDAY, (@v_first_date + n.n)) AS day_name
     , FORMAT((@v_first_date + n.n), 'ddd') AS day_abbreviation
     , 1 AS process_day_ind
     , DATENAME(WEEK, (@v_first_date + n.n)) AS week_number_in_year
     --Setting Monday as the start of the week
     , FORMAT(DATEADD(day, -(DATEDIFF(day, '19000101', (@v_first_date + n.n)) % 7), (@v_first_date + n.n)),'yyyy-MM-dd') AS week_start_date
     , CONVERT(VARCHAR,DATEADD(day, -(DATEDIFF(day, '19000101', (@v_first_date + n.n)) % 7), (@v_first_date + n.n)),112) AS week_start_date_id
     --Setting Sunday as the end of the week
     , FORMAT(DATEADD(day, 6 - (DATEDIFF(day, '19000101', (@v_first_date + n.n)) % 7), (@v_first_date + n.n)),'yyyy-MM-dd') AS week_end_date
     , CONVERT(VARCHAR,DATEADD(day, 6 - (DATEDIFF(day, '19000101', (@v_first_date + n.n)) % 7), (@v_first_date + n.n)),112) AS week_end_date_id
     --Showing True or False depending on whether or not a given day is a weekday or a weekend
     , CASE 
        WHEN DATENAME(WEEKDAY, (@v_first_date + n.n)) IN ('Saturday','Sunday')
        THEN 'False'
        ELSE 'True' END AS weekday_flag
     , CASE 
        WHEN DATENAME(WEEKDAY, (@v_first_date + n.n)) IN ('Saturday','Sunday')
        THEN 'True'
        ELSE 'False'
        END AS weekend_flag
     , CASE 
        WHEN DATENAME(WEEKDAY, (@v_first_date + n.n)) = 'Sunday'
        THEN 'True'
        ELSE 'False'
        END AS last_day_in_week_flag
     , DATEPART(MONTH, (@v_first_date + n.n)) AS month_number
     , DATENAME(MONTH, (@v_first_date + n.n)) AS month_name
     , LEFT(DATENAME(MONTH, (@v_first_date + n.n)), 3) AS month_abbreviation
     , DAY(EOMONTH((@v_first_date + n.n))) AS month_last_day_number
     , FORMAT(DATEFROMPARTS(YEAR((@v_first_date + n.n)), MONTH((@v_first_date + n.n)), 1), 'yyyy-MM-dd') AS month_start_date
     , CONVERT(VARCHAR, DATEFROMPARTS(YEAR((@v_first_date + n.n)), MONTH((@v_first_date + n.n)), 1), 112) AS month_start_date_id
     , FORMAT(EOMONTH((@v_first_date + n.n)), 'yyyy-MM-dd') AS month_end_date
     , CONVERT(VARCHAR, EOMONTH((@v_first_date + n.n)), 112) AS month_end_date_id
     , FORMAT(EOMONTH(DATEADD(MONTH, -1, (@v_first_date + n.n))), 'yyyy-MM-dd') AS month_end_date_previous
     , CONVERT(VARCHAR, EOMONTH(DATEADD(MONTH, -1, (@v_first_date + n.n))), 112) AS month_end_date_previous_id
     , CASE WHEN CAST((@v_first_date + n.n) AS date) = EOMONTH((@v_first_date + n.n))
        THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS last_day_in_month_flag
     , DATEPART(QUARTER, (@v_first_date + n.n)) AS quarter_number
     , CONCAT('Q', DATEPART(QUARTER, (@v_first_date + n.n))) AS quarter_name
     , CONCAT(YEAR((@v_first_date + n.n)), '-Q', DATEPART(QUARTER, (@v_first_date + n.n))) AS quarter_code
     , FORMAT(DATEADD(QUARTER, DATEDIFF(QUARTER, 0, (@v_first_date + n.n)), 0), 'yyyy-MM-dd') AS quarter_start_date
     , CONVERT(VARCHAR, DATEADD(QUARTER, DATEDIFF(QUARTER, 0, (@v_first_date + n.n)), 0), 112) AS quarter_start_date_id
     , FORMAT(DATEADD(DAY, -1, DATEADD(QUARTER, DATEDIFF(QUARTER, 0, (@v_first_date + n.n)) + 1, 0)), 'yyyy-MM-dd') AS quarter_end_date
     , CONVERT(VARCHAR, DATEADD(DAY, -1, DATEADD(QUARTER, DATEDIFF(QUARTER, 0, (@v_first_date + n.n)) + 1, 0)), 112) AS quarter_end_date_id
     , CASE WHEN CAST((@v_first_date + n.n) AS date)
            = DATEADD(DAY, -1, DATEADD(QUARTER, DATEDIFF(QUARTER, 0, (@v_first_date + n.n)) + 1, 0))
        THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS last_day_in_quarter_flag
     , YEAR((@v_first_date + n.n)) AS year_number
     , FORMAT(DATEFROMPARTS(YEAR((@v_first_date + n.n)), 1, 1), 'yyyy-MM-dd') AS year_start_date
     , CONVERT(VARCHAR, DATEFROMPARTS(YEAR((@v_first_date + n.n)), 1, 1), 112) AS year_start_date_id
     , FORMAT(DATEFROMPARTS(YEAR((@v_first_date + n.n)), 12, 31), 'yyyy-MM-dd') AS year_end_date
     , CONVERT(VARCHAR, DATEFROMPARTS(YEAR((@v_first_date + n.n)), 12, 31), 112) AS year_end_date_id
     , (YEAR((@v_first_date + n.n)) * 100) + MONTH((@v_first_date + n.n)) AS yyyymm
     , CASE WHEN CAST((@v_first_date + n.n) AS date) = DATEFROMPARTS(YEAR((@v_first_date + n.n)), 12, 31)
        THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS last_day_in_year_flag
     --Set as "Not a holiday" for the default
     , CAST(0 AS bit) AS holiday_ind        -- Challenge field
     , CAST('' AS varchar(100)) AS holiday_name -- Challenge field
        FROM dbo.Nums AS n
        WHERE n.n <= (365 * @v_num_years)
        ORDER BY 1;

-- 3) Reload the default date record

INSERT INTO dbo.DateDim
SELECT 99991231 AS date_id
     , CAST('9999-12-31' AS date) AS day_date
     , 0 AS day_number_in_week
     , 0 AS day_number_in_month
     , 0 AS day_number_in_year
     , 'Unknown' AS day_name
     , 'UNK' AS day_abbreviation
     , CAST(0 AS bit) AS process_day_ind
     , 0 AS week_number_in_year
     , '9999-12-27' AS week_start_date -- Monday of that week (Mon-based week)
     , '99991227'   AS week_start_date_id
     , '9999-12-31' AS week_end_date -- This specific unknown date is a Friday; fine for placeholder
     , '99991231'   AS week_end_date_id
     , CAST(0 AS bit) AS weekday_flag
     , CAST(0 AS bit) AS weekend_flag
     , CAST(0 AS bit) AS last_day_in_week_flag
     , 12 AS month_number
     , 'December' AS month_name
     , 'Dec' AS month_abbreviation
     , 31 AS month_last_day_number
     , '9999-12-01' AS month_start_date
     , '99991201'   AS month_start_date_id
     , '9999-12-31' AS month_end_date
     , '99991231'   AS month_end_date_id
     , '9999-11-30' AS month_end_date_previous
     , '99991130'   AS month_end_date_previous_id
     , CAST(1 AS bit) AS last_day_in_month_flag
     , 4 AS quarter_number
     , 'Q4' AS quarter_name
     , '9999-Q4' AS quarter_code
     , '9999-10-01' AS quarter_start_date
     , '99991001'   AS quarter_start_date_id
     , '9999-12-31' AS quarter_end_date
     , '99991231'   AS quarter_end_date_id
     , CAST(1 AS bit) AS last_day_in_quarter_flag
     , 9999 AS year_number
     , '9999-01-01' AS year_start_date
     , '99990101'   AS year_start_date_id
     , '9999-12-31' AS year_end_date
     , '99991231'   AS year_end_date_id
     , 999912 AS yyyymm
     , CAST(1 AS bit) AS last_day_in_year_flag
     , CAST(0 AS bit) AS holiday_ind
     , CAST('' AS varchar(100)) AS holiday_name;
	 ;

  END;

GO
/****** Object:  StoredProcedure [dm].[usp_Load_DimTopic]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dm].[usp_Load_DimTopic]
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dm.DimTopic;

    INSERT INTO dm.DimTopic (TopicCode, TopicName)
    SELECT DISTINCT
        TopicCode,
        TopicCode
    FROM EC_IT440_DV.bv.Sat_SubmissionTopic_Answers;
END;
GO
/****** Object:  StoredProcedure [dm].[usp_load_fact_submissiontopicresponse]    Script Date: 3/16/2026 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dm].[usp_load_fact_submissiontopicresponse]
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dm.Fact_SubmissionTopicResponse;

    INSERT INTO dm.Fact_SubmissionTopicResponse
    (
        SubmissionID,
        TopicKey,
        DateKey,
        rating,
        likert_1,
        likert_2,
        net_promoter
    )
    SELECT
        b.SubmissionID,
        dmt.TopicKey,
        dd.date_id AS DateKey,
        b.rating,
        b.likert_1,
        b.likert_2,
        b.net_promoter
    FROM EC_IT440_DV.bv.Sat_SubmissionTopic_Answers b
    INNER JOIN dm.DimTopic dmt
        ON b.TopicCode = dmt.TopicCode
    INNER JOIN dbo.DateDim dd
        ON CAST(b.LoadDts AS date) = dd.day_date;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Integer based Primary Key for Date Dimension' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Date value for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Saturday is the 7th and Sunday is the 1st day of the week' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_week'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Number In Week' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_week'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_week'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Day number in the month for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_month'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Number In Month' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_month'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_month'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Values between 1 and 365 (leap year 366)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Number In Year' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Unabbreviated version of the week day name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Three character version of the week day name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Day Abbreviation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'day_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Indicates if processes in ZAE are run on this date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'process_day_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Process Day Ind' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'process_day_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'process_day_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Week number in year' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Week Number In Year' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_number_in_year'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Indicates the Sunday date that begins the week (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Week Start Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Indicates the Sunday date that begins the week (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Week Start Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Indicates the Saturday date that ends the week (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Week End Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Indicates the Saturday date that ends the week (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Week End Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'week_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'0 for Saturday and Sunday' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekday_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Weekday Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekday_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekday_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 for Saturday and Sunday' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekend_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Weekend Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekend_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'weekend_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 for Saturdays' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_week_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Last Day In Week Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_week_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_week_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Month number portion of the date valued 1 to 12' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Unabbreviated version of the month name for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Three character version of the month name for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Abbreviation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_abbreviation'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Numeric last day of the month for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_last_day_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Last Day Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_last_day_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_last_day_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the month in which the date occurs (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Start Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the month in which the date occurs (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month Start Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the month in which the date occurs (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month End Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the month in which the date occurs (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month End Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the prior month in which the date occurs (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month End Date Previous' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the prior month in which the date occurs (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Month End Date Previous Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'month_end_date_previous_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 when the date is the last day of the month' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_month_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Last Day In Month Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_month_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_month_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Numeric version of the quarter in which the date occurs (numbered 1 to 4)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Full English version of the quarter in which the date occurs (First, Second, Third, Fourth)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Abbreviated version of the quarter in which the date occurs (valued Q1, Q2, Q3, Q4)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_code'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_code'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_code'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the quarter in which the day occurs (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter Start Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the quarter in which the day occurs (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter Start Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the quarter in which the day occurs (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter End Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the quarter in which the day occurs (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Quarter End Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'quarter_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 when the date is the last day in the quarter' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_quarter_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Last Day In Quarter Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_quarter_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_quarter_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'The year number for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Year Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_number'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the year for the date (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Year Start Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'First day of the year for the date (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Year Start Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_start_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the year for the date (date version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Year End Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Last day of the year for the date (ID version)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Year End Date Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'year_end_date_id'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'YYYYMM version of the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'yyyymm'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'YYYYMM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'yyyymm'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'yyyymm'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 when the date is the last day of the year' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_year_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Last Day In Year Flag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_year_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'last_day_in_year_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'1 when the date is a holiday' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Holiday Ind' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_ind'
GO
EXEC sys.sp_addextendedproperty @name=N'column_description', @value=N'Full English name of the Holiday for the date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_eul_name', @value=N'Holiday Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_name'
GO
EXEC sys.sp_addextendedproperty @name=N'column_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim', @level2type=N'COLUMN',@level2name=N'holiday_name'
GO
EXEC sys.sp_addextendedproperty @name=N'table_description', @value=N'A date themed dimension table that spans a period of 250 years and includes a myriad of date related attributes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim'
GO
EXEC sys.sp_addextendedproperty @name=N'table_eul_name', @value=N'Date Dimension' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim'
GO
EXEC sys.sp_addextendedproperty @name=N'table_source', @value=N'Derived in ETL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DateDim'
GO
USE [master]
GO
