USE [master]
GO
/****** Object:  Database [EC_IT_440_DL]    Script Date: 2/23/2026 4:46:50 PM ******/
CREATE DATABASE [EC_IT_440_DL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EC_IT440_DL', FILENAME = N'D:\sql server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EC_IT440_DL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EC_IT440_DL_log', FILENAME = N'D:\sql server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EC_IT440_DL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EC_IT_440_DL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EC_IT_440_DL]
GO
/****** Object:  Table [dbo].[OLE DB Destination]    Script Date: 2/23/2026 4:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLE DB Destination](
	[load_date_time] [datetime] NOT NULL,
	[ID] [varchar](500) NULL,
	[Start time] [varchar](500) NULL,
	[Completion time] [varchar](500) NULL,
	[Email] [varchar](500) NULL,
	[Name] [varchar](500) NULL,
	[Last modified time] [varchar](500) NULL,
	[rating_1] [varchar](500) NULL,
	[choice_1] [varchar](500) NULL,
	[text_1] [varchar](500) NULL,
	[date_1] [varchar](500) NULL,
	[likert_1a] [varchar](500) NULL,
	[likert_1b] [varchar](500) NULL,
	[ranking_1] [varchar](500) NULL,
	[net_promoter_1] [varchar](500) NULL,
	[rating_2] [varchar](500) NULL,
	[choice_2] [varchar](500) NULL,
	[text_2] [varchar](500) NULL,
	[date_2] [varchar](500) NULL,
	[likert_2a] [varchar](500) NULL,
	[likert_2b] [varchar](500) NULL,
	[ranking_2] [varchar](500) NULL,
	[net_promoter_2] [varchar](500) NULL,
	[rating_3] [varchar](500) NULL,
	[choice_3] [varchar](500) NULL,
	[text_3] [varchar](500) NULL,
	[date_3] [varchar](500) NULL,
	[likert_3a] [varchar](500) NULL,
	[likert_3b] [varchar](500) NULL,
	[ranking_3] [varchar](500) NULL,
	[net_promoter_3] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_submission]    Script Date: 2/23/2026 4:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_submission]
AS
SELECT
    CAST([ID] AS int) AS SubmissionID,

    -- mapped numeric scores (no conflicts because each CASE targets its own column)
    CASE
        WHEN LOWER(LTRIM(RTRIM(likert_1a))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_1a))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_1a))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_1a))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_1a))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_1a_score,

    CASE
        WHEN LOWER(LTRIM(RTRIM(likert_1b))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_1b))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_1b))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_1b))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_1b))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_1b_score,

     CASE
        WHEN LOWER(LTRIM(RTRIM(likert_2a))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_2a))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_2a))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_2a))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_2a))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_2a_score,

    CASE
        WHEN LOWER(LTRIM(RTRIM(likert_2b))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_2b))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_2b))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_2b))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_2b))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_2b_score,

     CASE
        WHEN LOWER(LTRIM(RTRIM(likert_3a))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_3a))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_3a))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_3a))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_3a))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_3a_score,

     CASE
        WHEN LOWER(LTRIM(RTRIM(likert_3b))) = 'I agree wholeheartedly' THEN 5
        WHEN LOWER(LTRIM(RTRIM(likert_3b))) = 'I somewhat agree' THEN 4
        WHEN LOWER(LTRIM(RTRIM(likert_3b))) = 'Don''t care either way' THEN 3
        WHEN LOWER(LTRIM(RTRIM(likert_3b))) = 'Kind of disagree' THEN 2
        WHEN LOWER(LTRIM(RTRIM(likert_3b))) = 'Don''t agree at all' THEN 1
        ELSE NULL
    END AS likert_3b_score,

    SYSUTCDATETIME() AS load_date_time,
    CAST('survey_file' AS varchar(50)) AS record_source

FROM [dbo].[OLE DB Destination];
GO
/****** Object:  Table [dbo].[Farmer]    Script Date: 2/23/2026 4:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmer](
	[rating] [smallint] NOT NULL,
	[choice] [nchar](10) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[likert_1] [nvarchar](50) NOT NULL,
	[likert_2] [nvarchar](50) NOT NULL,
	[ranking_best] [nvarchar](50) NOT NULL,
	[ranking_middle] [nvarchar](50) NOT NULL,
	[ranking_worst] [nvarchar](50) NOT NULL,
	[net_promoter] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mining]    Script Date: 2/23/2026 4:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mining](
	[rating] [smallint] NOT NULL,
	[choice] [nchar](10) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[likert_1] [nvarchar](50) NOT NULL,
	[likert_2] [nvarchar](50) NOT NULL,
	[ranking_best] [nvarchar](max) NOT NULL,
	[ranking_middle] [nvarchar](max) NOT NULL,
	[ranking_worst] [nvarchar](max) NOT NULL,
	[net_promoter] [smallint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wood]    Script Date: 2/23/2026 4:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wood](
	[rating] [smallint] NOT NULL,
	[choice] [nchar](10) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[likert_1] [nvarchar](50) NOT NULL,
	[likert_2] [nvarchar](50) NOT NULL,
	[ranking_best] [nvarchar](50) NOT NULL,
	[ranking_middle] [nvarchar](50) NOT NULL,
	[ranking_worst] [nvarchar](50) NOT NULL,
	[net_promoter] [smallint] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
